name: naked_ui_workspace
environment:
  sdk: ">=3.8.0 <4.0.0"
  flutter: ">=3.27.0"
  
dependencies:
  dart_code_metrics_presets: ^2.26.1
  flutter_lints: ^6.0.0

dev_dependencies:
  melos: ^7.3.0

workspace:
  - packages/example
  - packages/naked_ui
melos: 