name: naked_ui
description: A library of behavior-first UI components for Flutter that separate state from presentation.
repository: https://github.com/btwld/naked_ui
documentation: https://docs.page/btwld/naked_ui
issue_tracker: https://github.com/btwld/naked_ui/issues
license: BSD-3-Clause
version: 0.2.0-beta.7
resolution: workspace

environment:
  sdk: ">=3.8.0 <4.0.0"
  flutter: ">=3.27.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter


flutter:
  uses-material-design: true
