name: Flutter CI

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - docs/**
      - docs.json

  push:
    branches:
      - main
    paths-ignore:
      - docs/**
      - docs.json

# Cancel any in-progress runs of the same workflow for the same PR/branch.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    uses: btwld/dart-actions/.github/workflows/ci.yml@main
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
    with:
      flutter-version: "stable"
      run-dcm: true
      melos-commands: |
        melos run format:check
